body {
    background: url(../images/gameScreen.gif);
    background-size: 100%;
    background-repeat: no-repeat;
}

p, h1, span    {
    color: white;
    font-size: 20px;
}

.playerBoard {
    background: url(../images/gameBoard.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0 auto;
    width: 500px;
    height: 260px;
    overflow: hidden;
    box-shadow: 0 8px 8px 8px black;
}

.start {
    position: relative;
    bottom: -180px;
    margin: 0 20px 0 20px;
    text-align: center;
}

.start2 {
    bottom: -160px;
}